body{
    background: #1f2325;
    border: 1px solid #48545c;
    overflow-y: hidden;
}

#main {
  width: 100%;
  height: calc(100% - 32px);
  display: block;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(farthest-corner at 0px 0px, #192125, #0c0d0e);
  overflow-y: hidden;
}

#main #pageNav {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;  
}

#main #pageNav mat-card-title {
  display: flex;
  grid-row: 1;
  width: 100%;
  justify-content: center;
  margin: 8px 0;
  padding: 0;
}

#main #pageNav mat-card-actions {
  display: inline-flex;
}
  
#titlebar {
    display: block;
    // position: fixed;
    height: 32px;
    width: 100%; /*Compensate for body 1px border*/
    padding: 0;
	color: #FFF;
  box-sizing: border-box;
  overflow: hidden;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: 32px auto 138px; //The last value here correlates to the width of the window controls. (width*3)
    align-content: center;
}

#titlebar button {
  display: grid;
  -webkit-app-region: no-drag;
}

#window-controls {
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(3, 46px); //if you change the button width, you must change the third columns size in "#titlebar #drag-region" to (width*3)
    // position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-app-region: no-drag;
  }

  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  #window-controls .button:hover {
    background: rgba(255,255,255,0.1);
  }

  #window-controls .button:active {
    background: rgba(255,255,255,0.2);
  }
  
  #close-button:hover {
    background: #E81123 !important;
  }
  
  #close-button:active {
    background: #F1707A !important;
  }

  #close-button:active .icon {
    filter: invert(1);
  }
  
  #restore-button {
    display: none !important;
  }
  #min-button {
    grid-column: 1;
  }
  #max-button, #restore-button {
    grid-column: 2;
  }
  #close-button {
    grid-column: 3;
  }
  .maximized #titlebar {
    width: 100%;
    padding: 0;
  }
  
  .maximized #window-title {
    margin-left: 12px;
  }
  
  .maximized #restore-button {
    display: flex !important;
  }
  
  .maximized #max-button {
    display: none;
  }

  mat-nav-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }

  @media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-menu {
  height: 100%;
  grid-column: 2;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  align-content: center;
}

#window-menu button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 32px;
  height: 100%;
}

#window-menu button:hover {
  background-color: #48545c;
}

mat-menu {
  max-width: 200px;
}

::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-menu-item{
  line-height:35px;
  height:35px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 2px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }

.example-names{
    margin-bottom: 55px;
}

.alignment-padding{
    padding-left: 15px;
    padding-right: 15px;
}

.rolls-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.stat-used{
    text-decoration: line-through;
    color: grey;
}

.warning{
    color:red;
}

.domain-descr{
    padding-top: 10px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.domain-id1{
    color: rgba(34, 34, 34, 0.5);
}

.domain-id2{
    color: rgba(255, 0, 0, 0.65);
}

.divider-padding{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
