<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-tree [treeControl]="treeControl">
            <mat-tree-node matTreeToggle >RACE</mat-tree-node>
            <mat-tree-node>Dragonborn</mat-tree-node>
            <mat-tree-node>Dwarf</mat-tree-node>
            <mat-tree-node>Elf</mat-tree-node>
            <mat-tree-node>Gnome</mat-tree-node>
            <mat-tree-node>Half-Elf</mat-tree-node>
            <mat-tree-node>Halfling</mat-tree-node>
            <mat-tree-node>Half-Orc</mat-tree-node>
            <mat-tree-node>Human</mat-tree-node>
            <mat-tree-node>Tiefling</mat-tree-node>
        </mat-tree>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
</mat-grid-list>